# Node modules
node_modules/

# Environment variables
.env

# SQLite database
/data/*.sqlite

# Uploaded files
/uploads/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

createEthereal.js
